

.pagina-mecanico {
  background: #121212;
  min-height: 100vh;
  padding: 40px 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container-mecanico {
  max-width: 1200px;
  margin: 0 auto;
}

.tabela-container {
  background: #1f2228;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #2f323a;
}

.titulo {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tabela th {
  background: #1e1e1e;
  padding: 10px;
  text-align: left;
}

.tabela td {
  padding: 10px;
  border-bottom: 1px solid #2b2f38;
}

.acoes {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.btn {
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.btn.editar {
  background: #64b5f6;
  color: #000;
}

.btn.emprestar {
  background: #00e676;
  color: #000;
}

.btn.reservar {
  background: #2962ff;
  color: #fff;
}

.btn.devolver {
  background: #ffc400;
  color: #000;
}

@media (max-width: 768px) {
  .tabela-container {
    overflow-x: auto;
  }

  .acoes {
    flex-direction: column;
  }
}


.card-form-mecanico {
  background: #1f2228;
  padding: 24px 24px 28px;
  border-radius: 12px;
  border: 1px solid #2f323a;
  max-width: 480px;
}

.titulo-form-mecanico {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grupo-campo-mecanico {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.grupo-campo-mecanico label {
  margin-bottom: 4px;
  font-size: 14px;
}

.input-mecanico {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background: #111;
  color: #fff;
}

.btn-primario-mecanico {
  margin-top: 8px;
  background: #ffc400;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-weight: bold;
  cursor: pointer;
}


.input-data-mecanico {
  position: relative;
  padding-left: 40px !important; 
}

.input-data-mecanico::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  
  width: 20px;
  height: 20px;
  cursor: pointer;
  
  filter: invert(100%); 
  opacity: 1;
  z-index: 10; 
  background-color: transparent;
}